// 本文最后更新于 2025-10-19
/*
这个文件的配置影响 Symbiosis 在执行完所有任务之后，下载 sample 键值对中指定的文件。
如果 Symbiosis 在一次运行中成功下载了【所有】指定的帮助文件，assistance.json 就会被删除
*/
{
    "sample": ["config.json", "sample.json"]
    // 像这样，Symbiosis 就会在 github 仓库下的 samples 目录中寻找 config.json.sample 和 sample.json.sample 两个文件并下载
}
