// 本文最后更新于 2025-11-29
{
    "execute": {
        "task1": {
            "parameters": List[str] = ["p1", "p2", ...]
            "exec": PathLike,
            "uac_admin": bool,
            "use_psexec": bool, // 1.3 未来的版本启用
            // 警告：这个功能目前仍处于实验性阶段，请勿滥用此功能。
            /* uac_admin 和 use_psexec 决定了启动指定程序时所用的特权情况
            * 这两个参数各有两种状态（true/false），一组合就是 2 * 2 = 4 种状态
            * uac_admin=true, use_psexec=true 表示先使用 ShellExecuteW（一个 Windows API 函数）进行提权至 Admin，
            * 再使用 psexec 提权至 SYSTEM 权限，运行的程序是 SYSTEM 特权。
            * uac_admin=true, use_psexec=false 表示仅使用 ShellExecuteW 提权至 Admin，运行的程序是 Admin 特权。
            * uac_admin=false, use_psexec=true 表示强制降级到 User 受限制的账户权限（使用 `-l` 参数）程序以受限制的权限运行。
            * uac_admin=false, use_psexec=false 表示以当前 Symbiosis 的权限运行程序。
            */
            "workdir": PathLike,
            "disable": false,
            "datetime": "2000/1/1..",
            "TTL": int, // 表示再执行多少次就删除这个任务，设置为负数表示永不删除。
            "keep": bool = true, // TTL 归零后是否在配置文件中删除此下载项。
            // 注意：TTL 是行为触发，只要运行了对应的配置，不管执行是否成功 TTL 都会减一。
        },
        "task2": {
            ...
        },
    },
    "download": {
        "task1": {
            "url": ...,
            "filepath": ...,
            "timestamp": bool, // false = 如果文件已存在，则覆盖该文件, true = 时间戳
            "level": [0..4000], // 优先级，决定下载顺序，实际上并未使用。
            "headers": {
                "User-Agent": "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36,
                "Connection": "close"
            },
            "retry": int,
            /* 0 = 禁用此项下载
            * 1 = 不重试
            * n（n 为大于 1 的整数）最多 n - 1 次重试
            * -1 = 无限重试
            */
            "keep": bool = true,
            "expire": bool, // （实际上并未使用）此项不应由用户设定，表示是否成功下载过该任务。
            "checksum": {
                "md5": ...,
                "sha1": ...
            },
            "ignore_status": bool, // 此数值控制程序是否检查网页状态码，设置为 true 时仅在状态码为 200 时下载。
            "TTL": int
        },
        ...
    },
    "deleteFile": {
        "task1": {
            "src": <filepath>,
            "folders": <bool>, // 删除文件夹，此开关默认为 true
            "only_subfolders": <bool> // 【不】删除根文件夹，此开关默认为 false
            // 注意，当 folders 为 false 的时候，only_subfolders 成为无效设置，此时不会删除任何文件夹（包括根文件夹）。
        },
        "task2": {
            "src": <filepath>
            ...
        }
    },
    "upgrade": {
        "json-url": "",
        "config-url": "https://raw.githubusercontent.com/8388688/Symbiosis/refs/heads/main/cloud-config.json", // 实际上并未使用
        "channel": ..., // 实际尚未使用
        "retry": -1, // 此配置选项同时兼顾主程序和配置文件的更新。
        "console": bool, // 下载控制台版本还是无窗口版本
        "enable-config-update": true, // 此选项优先级低于 retry，但只决定配置文件的更新，主程序更新不受此影响。
        "download": "", // 实际尚未使用
        "specific_version_exclude": [], // 空序列表示接受所有更新，序列中的元素表示排除特定版本更新。
        "downgrade_install": "v0.1" || null, // 强制降级安装, null 表示不启用降级安装，此选项无视 specific_version_exclude 的排除设置。
    }
    "run": {// 仍在可行性分析中},
    "globalsettings": {
        "retry": 1,
        "uac_admin": false,
        "keep": false,
        "parameters": []
        "disable": false, // 全局禁用，此方案不影响那些显式设置 disable 的元素
    },
}
